.home{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(234,237,237);


    &_row{
            display: flex;
            margin-left:  5px;
            margin-right: 5px;
            background-color: white;
    
        &_two{
                display: flex;
                margin-left:  5px;
                margin-right: 5px;
                background-color: white;
                margin-top: 10px;
        }
        &_three{
                display: flex;
                margin-left:  5px;
                margin-right: 5px;
                background-color: white;
                margin-top: 10px;
        }
        &_title{
                border-bottom:1.4px solid lightgray;
        }
    }
    &_advertise{
            margin: 10px auto;
            width: 80vw;
            height:20vw;
    
        &>img{
            
            width:80vw;
            height:100%;
            margin: auto;
        }
    }
    
}